* {
	box-sizing: border-box;
}

html {
	font-family: sans-serif,Verdana;
}

hr.black {
	border: 0.5px solid black
}

img.bio {
	max-width:55%;
	max-height:55%;
	padding-top:10px;
}

table.bio{
	border: 1px dotted black;
}

/* FORMATTING THE DIV'S*/
div.container {
	display: table;
	width:85%;
	border: 2px solid black;
	background-color: white;
	height: 550px;
	clear: both;
}

div.nav {
	display: table-cell;
	vertical-align: top;
	width: 10%;
	border-right: 2px solid black;
	background-color: #CCD1D1;
	height: 100%;
	padding: 10px;
}

div.nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
	margin-top: 20px;
}

div.nav li{
	padding-top: 5px;
	padding-bottom: 5px;
}

div.main {
	display: table-cell;
	width: 50%;
	background-color: white;
	height: 100%;
	padding-left: 10px;
	padding-right: 10px;
}

div.main ul{
	list-style: square;
}

div.main li{
	padding-bottom: 8px;
}
/* END FORMATTING THE DIV'S*/